.newsImage {
    width: 150px !important;
    padding:20px !important;
}

h4 {
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 0 !important; 
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.headerParagraph {
    text-transform: uppercase;
    font-weight: bold;
    color:blue !important;
}

.downloadAnchor {
    color:black !important;
    font-weight: bold;
}

.infoSpan {
    font-weight: normal;
}