<h4>Novinky</h4>

<div class="card horizontal">
    <div class="card-image">
      <img class="newsImage" src="https://image.flaticon.com/icons/png/512/226/226770.png">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p class="headerParagraph">Mobilná aplikácia</p>
        <p>Pripravujeme pre vás aj mobilnú aplikáciu NEOCALC pre systém Android!</p>
      </div>
      <div class="card-action">
        <a href="#" class="downloadAnchor">STIAHNUŤ <span class="infoSpan">(čoskoro)</span></a>
      </div>
    </div> 
</div>