<div class="row">

    <h4>Algoritmus resuscitácie novorodenca - AHA 2020</h4>
    <img class="imgAlgo" src="https://firebasestorage.googleapis.com/v0/b/project-try-novu.appspot.com/o/algo1.jpg?alt=media&token=ca3650b5-a017-4d8a-b806-5700342352ef" alt="algoritmus">

    <h4>Algoritmus resuscitácie novorodenca - ERC 2015</h4>
    <img class="imgAlgo" src="https://firebasestorage.googleapis.com/v0/b/project-try-novu.appspot.com/o/algo2.png?alt=media&token=2234b3f2-e13f-49a5-839f-400a5dbfcd35" alt="algoritmus">

    <div class="sourcesBox">
        <p class="sourcesText">Zdroje:</p>
        <a href="https://cprguidelines.eu/sites/573c777f5e61585a053d7ba5/content_entry573c77e35e61585a053d7baf/573c78085e61585a053d7bcb/files/S0300-9572_15_00341-X_main.pdf">https://cprguidelines.eu/sites/573c777f5e61585a053d7ba5/content_entry573c77e35e61585a053d7baf/573c78085e61585a053d7bcb/files/S0300-9572_15_00341-X_main.pdf</a><br>
        <a href="https://pediatrics.aappublications.org/content/147/Supplement_1/e2020038505E.long">https://pediatrics.aappublications.org/content/147/Supplement_1/e2020038505E.long</a>
    </div>

</div> 