<footer class="page-footer blue darken-3">
  <div class="row">
    <div class="col l6 m6 s12">
      <h5 class="white-text">Kontaktné údaje</h5>
      <p class="grey-text text-lighten-4">email: k.petrilak.neocalc@gmail.com</p>
      <p class="grey-text text-lighten-4">MUDr. Kamil Petriľak</p>
      <p class="grey-text text-lighten-4">
        Odborný garant: MUDr. Jana Nikolinyová, PhD.<br>
        (Neonatologická klinika SZU, Banská Bystrica)
      </p>
    </div>
    <div class="col l4 m4 s12">
      <p class="infobox">Všetky informácie uvedené na tejto stránke majú informatívny charakter. Portál Neocalc odmieta akúkoľvek zodpovednosť za prípadné škody vzniknuté nesprávnou interpretáciou, resp. nesprávnym použitím informácií uvedených na tejto online platforme užívateľom v klinickej praxi.</p>
    </div> 
  </div>
<div class="footer-copyright">
    <div class="col l6 m6 s12">&copy; 2020-21 Daniel Petriľak, Kamil Petriľak, verzia 1.84,1.28 [19/04/2021]</div>
</div>
</footer>