<div class="row"> 
    <div class="col s10 offset-s1">
        <h4>Pericentrá</h4>

        <div class="boxPericenter">
            <h5>Neonatologická klinika SZU,  FNsP F. D. Roosevelta Banská Bystrica</h5>
            <p>
                nám. L. Svobodu 1, 975 17 Banská Bystrica<br>
                Prednosta: MUDr. Jana Nikolinyová, PhD.<br>
                Zástupca prednostu: MUDr. Milada Mošková<br>
                Vedúca sestra: PhDr. Renáta Černáková<br>
                sekretariát tel: +421 48 441 2756<br>
                sekretariát email: rcernakova@nspbb.sk
            </p>
            <p>
            Web pracoviska: <a href="https://www.fnspfdr.sk/index.php/neonatologicka-klinika" target="_blank">https://www.fnspfdr.sk/index.php/neonatologicka-klinika</a>
            </p>
        </div>
        
        <div class="boxPericenter">
            <h5>Neonatologická klinika JLF UK a UN Martin</h5>
            <p>
            Univerzitná nemocnica Martin, Kollárova 2, 036 59 Martin<br>
            Prednosta: prof. MUDr. Mirko Zibolen, CSc.<br>
            Primárka: doc. MUDr. Katarína Maťašová, PhD.<br>
            Vedúca sestra: Mgr. Tatiana Mikitová<br>
            sekretariát tel:  043/4203 759<br>
            email: neonatsekr@unm.sk
            </p>
            <p>
            Web pracoviska: <a href="https://www.unm.sk/neonatologicka-klinika" target="_blank">https://www.unm.sk/neonatologicka-klinika</a>
            </p>
            <p>
            Facebook: <a href="http://fb.me/NeonatMartin" target="_blank">http://fb.me/NeonatMartin</a> 
            </p>
        </div>

        <div class="boxPericenter">
            <h5>Neonatologická klinika FNsP Nové Zámky</h5>
            <p>
                FNsP Nové Zámky, Slovenská 11, 940 34 Nové Zámky<br>
                Primárka:  MUDr. Klaudia Demová, PhD.<br>
                Vedúca sestra: PhDr. Gabriela Magyarová, PhD.<br>
                sekretariát tel:  035 / 691 2202<br>
                sekretariát email: klaudia.demova@nspnz.sk
            </p>
            <p>
            Web pracoviska: <a href="http://www.nspnz.sk/odd-nov.html" target="_blank">http://www.nspnz.sk/odd-nov.html</a>
            </p>
        </div>

        <div class="boxPericenter">
            <h5>Perinatologické centrum – oddelenie neonatológie FNsP J.A.R. Prešov</h5>
            <p>
                Hollého 14, 081 81 Prešov<br>
                Primárka: MUDr. Iveta Reváková<br>
                Vedúca sestra: PhDr. Vlasta Baňasová, PhD.<br>
                tel: +421 51 7011 737<br>
                email: neonatalva@fnsppresov.sk 
            </p>
            <p>
            Web pracoviska: <a href="http://www.fnsppresov.sk/nemocnica/0039/" target="_blank">http://www.fnsppresov.sk/nemocnica/0039/</a>
            </p>
        </div>

        <div class="boxPericenter">
            <h5>Novorodenecká klinika M. Rusnáka LF SZU a UN, Bratislava </h5>
            <p>
                Nemocnica sv.Cyrila a Metoda , Antolská 11, 851 07  Bratislava<br>
                Prednosta: doc. MUDr. Darina Chovancová, CSc.<br>
                Zástupca prednostu:  MUDr. Ľubica Pejhovská, MUDr. Ľudovít Divinec<br>
                Vedúca sestra: Mgr. Mária Hermannová<br>
                sekretariát tel: +421 02 6867 2664<br>
                sekretariát email:  novorodenec@pe.unb.sk
            </p>
            <p>
            Web pracoviska: <a href="http://www.unb.sk/novorodenecka-klinika-m-rusnaka-szu-a-unb/" target="_blank">http://www.unb.sk/novorodenecka-klinika-m-rusnaka-szu-a-unb/</a>
            </p>
        </div>

        <div class="boxPericenter">
            <h5>Oddelenie neonatologickej intenzívnej medicíny  DFN Košice</h5>
            <p>
                Tr.SNP  1., 040 66 Košice<br>
                Primárka: MUDr.Vanda Chovanová<br>
                Vedúca sestra:  Mgr. Jana Bazárová<br>
                sekretariát tel:  +421 55 235 4222, +421 55 235 3609<br>
                sekretariát email:  chovanova@dfnkošice.sk
            </p>
        </div>

        <div class="sources">
            <p class="sourcesHeader">Zdroje:</p>
            <a href="http://slovenskaneonatologia.sk/perinatologicke-centra/" target="_blank">http://slovenskaneonatologia.sk/perinatologicke-centra/</a><br>
        </div>
        
    </div>
</div>

