 .row {
    margin-bottom:0 !important;
    word-break: break-all;
 }

 h4 {
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 0 !important; 
    padding-top: 0.5em;
 }

 h5 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 0 !important; 
    padding-top: 0.5em;
 }

 .boxPericenter {
    margin-left: 2em !important;
    padding-bottom: 2em !important;
 }

 .sourcesHeader {
    font-weight: bold;
 }

 .sources {
    padding-bottom: 1em;
 }