<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-analytics.js"></script>


<app-header></app-header>

<div style="padding-top: 1em;background-image:url('https://firebasestorage.googleapis.com/v0/b/project-try-novu.appspot.com/o/background.jpg?alt=media&token=7c34d4fe-725e-48f9-8b1d-bd8bffe6267f');background-repeat: no-repeat;background-size: cover;">
    <router-outlet></router-outlet>
</div>

<app-footer></app-footer>