.z-depth-1 {
    font-size: 1.4vw;
}

.preloader-wrapper {
    margin-bottom: 3% !important;
    display: block !important;
}

.collapsible-body {
    background-color: white;
}
 
.resultParagraph {
    font-weight: bold;
    padding:5px;
    border: 1px green solid;
}

.btnAddToSaved {
    width: 48%;
    margin: 1%;
    float:left;
} 

h4 {
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 0 !important; 
    padding-top: 0.5em;
}

.searchBox {
    margin-top:2em;
}

.panels {
    margin-top:-10em;
    position:fixed;
    width:70%;
}

.collapsible {
    margin-bottom: 0 !important;
    padding-bottom: 1em !important;
}

.collapsible-body {
    padding-bottom: 12em !important;
}

.buttonPreddef {
    margin-bottom: 0.4em;
}

.buttonNotes {
    float:right;
    margin-left:1em;
}

.buttonADC {
    margin-bottom: 0.4em;
    float: right;
    margin-left: 1em;
}

.buttonInfo {
    margin-bottom: 0.4em;
    float: right;
}

@media only screen and (max-width: 800px) {
    .buttonBlock {
        float:left;
    }

    .buttonPreddef {
        width:100%;
    }

    .buttonNotes {
        float:left !important;
        margin-left: 0 !important;
        width:47%;
    }
    .buttonADC {
        float:right;
        width:47%;
    }
    .buttonInfo {
        float:left;
        width:100%;
    }
    .panels {
        width: 90% !important;
    }
    .btnAddToSaved {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 0.5em;
    }
}