<div class="row">
    <div class="col s10 offset-s1">

      <h4>O nás</h4>

      <div class="card-panel blue lighten-5">
        <p class="left-align">
          Portál NEOCALC vznikol pre zefektívnenie a uľahčenie náročnej práce na neonatologických pracoviskách na Slovensku. 
        </p>
        <p class="left-align">
          Primárne je tento portál navrhnutý tak, aby pomáhal pri práci lekárom a zdravotníkom na novorodeneckých jednotkách intenzívnej starostlivosti bez ohľadu na stupeň poskytovanej zdravotnej starostlivosti, avšak nápomocný môže byť aj lekárom na pracoviskách poskytujúcich základnú zdravotnú starostlivosť o fyziologických novorodencov.
        </p>
        <p class="left-align">
          Nájdete tu na jednom mieste databázu liekov používaných v neonatológii, ktorú pravidelne aktualizujeme a rozširujeme (s možnosťou využitia inteligentnej kalkulačky), mnohé nástroje a výpočty užitočné pri starostlivosti o deti na novorodeneckých jednotkách intenzívnej starostlivosti, automatizované grafy pre hodnotenie jednoduchej hyperbilirubínémie, rastové krivky pre chlapcov aj dievčatá v novorodeneckom veku, odborné odporúčania pre zdravotnú starostlivosť o novorodencov a mnoho iného.
        </p>
        <p class="left-align"> 
          Našou víziou je vybudovať platformu, ktorá bude nápomocná zdravotníkom pracujúcim na neonatologických pracoviskách na celom Slovensku a ktorá komplexne zhromaždí všetky potrebné informácie i nástroje potrebné pri zdravotnej starostlivosti o novorodencov a systémom „all in one“ vytvorí stabilné zázemie a poskytne pomoc všetkým, či už začínajúcim, alebo skúseným lekárom a zdravotníkom pracujúcim s pacientom v novorodeneckom veku.
        </p>
        <p class="left-align">
          Pre sprístupnenie všetkých funkcií portálu a získanie možnosti zapisovania si vlastných poznámok, ktoré budete mať vždy a kdekoľvek k dispozícii aj vo vašom mobilnom telefóne Vám ponúkame možnosť bezplatnej registrácie.
        </p>
        <p class="left-align">
          Odborným garantom platformy NEOCALC je krajská odborníčka MZ SR pre neonatológiu v Banskobystrickom kraji a prednostka Neonatologickej kliniky SZU FNsP F.D.Roosevelta v Banskej Bystrici - MUDr. Jana Nikolinyová, PhD.
        </p>
        <p class="right-align">
          Vitajte na portáli NEOCALC !   
        </p>
      </div>
    </div>

    <div class="col s10 offset-s1">
      <app-news></app-news>
    </div>

  </div>

